*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:linear-gradient(135deg,#4facfe,#00c6fb);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:1000px;
    height:600px;
    background:#fff;
    border-radius:25px;
    overflow:hidden;
    display:flex;
    box-shadow:0 20px 40px rgba(0,0,0,.25);
}

.left{
    width:50%;
    background:linear-gradient(180deg,#0077ff,#00b4ff);
    color:white;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    padding:50px;
    text-align:center;
}

.logo{
    width:110px;
    height:110px;
    background:white;
    color:#0077ff;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:50px;
    margin-bottom:25px;
}

.left h1{
    font-size:40px;
    margin-bottom:15px;
}

.left p{
    font-size:18px;
    opacity:.9;
}

.right{
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
}

form{
    width:100%;
    max-width:350px;
}

form h2{
    text-align:center;
    margin-bottom:35px;
    color:#333;
    font-size:32px;
}

.inputBox{
    display:flex;
    align-items:center;

    border:1px solid #ddd;
    border-radius:10px;

    padding:14px;
    margin-bottom:20px;
}

.inputBox i{
    color:#0077ff;
    margin-right:12px;
}

.inputBox input{
    width:100%;
    border:none;
    outline:none;
    font-size:16px;
}

select{
    width:100%;
    padding:14px;
    border-radius:10px;
    border:1px solid #ddd;
    margin-bottom:25px;
    font-size:15px;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;

    background:#0077ff;
    color:white;

    font-size:18px;
    font-weight:bold;

    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#005fd1;
    transform:translateY(-2px);
    box-shadow:0 10px 20px rgba(0,119,255,.3);
}